<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container">
<div class="card">
<div class="card-header">
<h1 style="text-align: center; color:green;">Login form</h1>

</div>

<div class="card-body">
<form action="insert" method="post">
<form>
<table class="table table-stripped">
<tr>
<td>
<!-- <div class="form-group">
<label for="uname">User Name</label>
<input type="text" id="uname" name="uname">
</div> -->

<input type="text" id="uname" name="uname" placeholder="Enter User name">
</td>

</tr>

<tr>
<td>
<!-- <div class="form-group">
<label for="pass">Password</label>
<input type="text" id="pass" name="pass">
</div> -->

<input type="text" id="pass" name="pass" placeholder="EnterPassword">
</td>
</tr>


<tr>
<td>
<button class="btn-btn-primary" value="Login">Login</button>
</td>
</tr>

</table>
</form>
</form>

</div>
</div>

</div>


</body>
</html>